.post {
  display: grid;
  grid-template-columns: 100px 3fr 1fr;
  border-top: 1px solid #dddddd;
  padding: 10px;
}
.post:hover {
  background-color: #f6f6f6;
}

h1,
h2,
h4 {
  margin-bottom: 0;
}

.user img {
  width: 60px;
  border-radius: 50%;
}
.postInfo {
  text-align: center;
}
.postBody {
  display: grid;
  margin-left: 20px;
}

.count {
  font-size: 20px;
}

.answers {
  padding: 5px;
  background-color: #1890ff;
  color: white;
}

.views {
  padding: 5px;
}

.user {
  padding: 20px 0 0 30px;
  color: #666666;
  font-weight: 400;
}
.userWrapper {
  display: flex;
}

.tag {
  margin-right: 10px;
}

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 20px;
  text-align: center;
  border: 1px solid #dddddd;
  max-width: 600px;
  margin: 0 auto 20px;
}
