p {
  margin-bottom: 3px;
}

.monospace {
  background-color: #2b2b2b;
  color: #eeeeee;
  padding: 2px 10px;
  border-radius: 5px;
}

.contentBlock {
  padding-bottom: 10px;
}

.sendBlock {
  float: right;
}
.sendBlock button {
  margin-left: 10px;
}
pre {
  margin-top: 10px;
}

code {
  margin-bottom: 10px;
}

.error {
  color: red;
}
