.post {
    display: grid;
    grid-template-columns: 100px 3fr 1fr;
    border-top: 1px solid #dddddd;
    padding: 10px;
}
.post:hover {
    background-color: #f6f6f6;
}

h2, h4 {
    margin-bottom: 0;
}

.user img {
    width: 50px;
}
.postInfo {
    text-align: center;
}
.postBody{
    margin-left: 20px;
}

.count {
    font-size: 20px;
}

.user {
    padding: 20px;
    color: #666666;
    font-weight: 400;
}
.userWrapper {
    display: flex;
}

.tag {
    margin-right: 10px;
}
