.user {
  display: flex;
  justify-content: space-between;
}
.user img {
  width: 40px;
  border-radius: 50%;
}

.userWrapper {
  display: flex;
  min-width: 130px;
  margin: 0 50px 1px 30px;
  grid-gap: 10px;
}

.deleteModal {
  max-width: 600px;
}
