.content {
  padding: 24px;
  margin: 0;
  min-height: 670px;
}

.filterWrapper {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 9fr 2fr;
}

.usersTitle {
  text-align: right;
  margin-right: 10px;
}

.searchUsers {
  max-width: 400px;
  margin-top: 10px;
}

.sortUsers {
  margin-top: 10px;
}

.sortButton {
  border-radius: 0;
  margin-top: 10px;
}

.usersWrapper {
  display: flex;
  flex-wrap: wrap;
}

.user {
  display: flex;
  grid-gap: 10px;
  width: 270px;
  margin-bottom: 40px;
}
.user img {
  width: 60px;
  height: 60px;
}

.user button {
  padding: 0 2px;
  margin-top: -5px;
}

@media screen and (max-width: 450px) {
  h1 {
    margin: 0;
  }

  .content {
    padding: 10px;
    margin: 10px 0;
    min-height: 670px;
  }

  .usersTitle {
    text-align: left;
  }

  .filterWrapper {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .searchUsers {
    max-width: 400px;
    margin-top: 0;
  }

  .user {
    margin-bottom: 20px;
  }
}
